.homepage-layout {
  display: inline-block;
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  box-sizing: border-box;
  vertical-align: top;
}

.homepage-layout img {
  max-width: 100%;
  height: auto;
}

.homepage-layout h2.title {

}

.homepage-layout input.form-submit {

}

.homepage-layout .form-item label {

}

.homepage-layout .form-item div.description {

}

.homepage-layout .form-radios .form-item {

}

.homepage-layout .form-managed-file .form-file {

}

.homepage-layout.selected {
  background: #f8fff0;
  border: 1px solid #bbee77;
}
